$color-background = #f1f1f1
$color-background-header = #0A678C
$color-background-leftSide = #ACAFB0

$color-border = #d6d8da
$color-text = #000
$color-nav = rgba(255, 255, 255, .5)
$color-nav-active = rgba(255, 255, 255, 1)

$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px

$height-header = 80px
